* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.tlo {
    position: absolute;
    background-image: url(10d.jpg); 
    background-size: cover;
    background-position: center center;
    height: 100vh;
    animation: zoom 10s infinite alternate;
}

@media only screen and (max-width: 1200px) { 
    .tlo {
        animation: zoom-mobile 10s infinite alternate;
    }
}

@keyframes zoom {
    0% {
      background-size: 100% auto ;
    }
    100% {
      background-size: 110% auto ;
    }
  }

@keyframes zoom-mobile {
    0% {
      background-size: auto 100%;
    }
    100% {
      background-size: auto 110%;
    }
}

.pogoda {
    padding: 20px;
    margin-top: 100px;
}

.wyszukiwarka {
    border-radius: 50px;
    margin-left: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

input {
    padding: 20px;
    background: transparent;
    border: 0px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
}

input:focus {
    border: 10px;
}

button {
    background: transparent;
    border: 0px;
    border-radius: 50px;
}

button img {
    min-width: 20px;
    max-width: 20px;
    filter: invert(1);
}

.informacja {
    margin-top: 100px;
    padding: 20px;
    border-radius: 20px;
    color: rgb(255, 255, 255)
}

.informacja div span {
    font-weight: bold;
}

#ikona img {
    width: 80px;
}

#miasto {
    font-size: 28px;
}

#temperatura {
    font-size: 40px;
}

footer {
    position: absolute;
    bottom: 0px;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
